version: "3.7"

services:
  app:
   build: .
   ports:
      - "8081:8081"
   depends_on:
      - mysql   
   networks:
    - my-network   
  
  mysql:
   image: mysql:latest
   environment:
    MYSQL_DATABASE: test
    MYSQL_USER: dilip
    MYSQL_PASSWORD: admin  
    MYSQL_ROOT_PASSWORD: root

 
   ports:
   - 3307:3306
   networks: 
    - my-network
   volumes:
     - mysql-data:/var/lib/mysql
    
networks:
   my-network: 
    driver: bridge 
   
volumes:
  mysql-data:

    
       
   
    